<h1 style = "text-align: center; padding-top: 7%;">Odaberite kombinaciju za 10 pitanja</h1>

<div class = "points-text">
    <b style = "text-align: right;">Broj pitanja od 5 bodova: </b>
    <input type = "number" id = "five-points">
</div>

<div class = "points-text">
    <b style="text-align: right;">Broj pitanja od 10 bodova: </b>
    <input type = "number" id = "ten-points">
</div>

<div class = "points-text">
    <b style="text-align: right;">Broj pitanja od 15 bodova: </b>
    <input type = "number" id = "fifteen-points">
</div>

<div class = "next-button">
    <button (click) = "goNext()">Kreni</button>
</div>
