.background-container{
  background-color: rgb(238, 231, 231);
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

form {
  border: 1.5px solid #6b2f2f;
  margin-top: 7vh;
  margin-left: 35vw;
  background-color: white;
  border-radius: 6px;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 3% 5%;
  margin: 1% 0%; 
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 4% 5%;
  margin: 2% 0%;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
}

button:hover {
  opacity: 0.8;
}

.button-register {
  background-color: #8165e6;
  color: white;
  padding: 4% 5%;
  border: none;
  cursor: pointer;
  width: 100%;
}

.cancelbtn {
  width: 20%;
  background-color: #f44336;
  padding: 3%;
}

.imgcontainer {
  text-align: center;
  margin-top: 4%;
}

.psw{
  margin-left: 40%;
}

.container{
  margin-top: 5%;
}
