<div style="width: 100%;">
    <fieldset class = "fieldset-points">
         <b style="width: 100%;">Bodovi : {{userPoints}}</b>
    </fieldset>
</div>
<div style="width: 100%; height:40%; margin-top: 5%;">
    <fieldset style="display: flex;">
        <b class = "label-text">Pitanje: </b>
        <div class = "question-box">
            {{showedQuestion}}
        </div>
    </fieldset>
</div>
<div style="width: 100%; height:40%; margin-top: 5%;">
    <fieldset style="display: flex;">
        <b class = "label-text">Odgovor: </b>
        <input class = "user-answer" id = "userAnswer" #userAnswer>
    </fieldset>
</div>
<div>
    <button class = "next-button" (click) = "Next()"><span class="material-icons">
        arrow_right_alt
        </span></button>
</div>
